/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/

img{
  width: 100%;
}
.grid{
display: flex;
flex-flow: row wrap;
overflow: auto;
width: 100%;
}

.shrink{
  width:10%;
}

.big{
  width: 40%;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

.hide{
  display: none;
}
